body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw;
    height: 100vh;
}

.info-overlay {
    padding: 6px 8px;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.delay-info {
    color: #666;
    font-size: 0.9em;
}

.delay-info.active {
    color: #d63031;
    font-weight: bold;
} 